h1 {
background:grey;
}

p.paragraph-1 {
background:red;
font-size:32pt;
color:green;
}

p.paragraph-2 {
background:blue;
border:10px solid green;
border_radius:5px;
font-size:26pt;
margin-left:60px;
padding-top:100px;
padding-bottom:150px;
}

p.paragraph-3 {
font-weight:bold;
font-size:22pt;
font-family:segoe script;
}

p.paragraph-4 {
font-style:italic;
text-align: center;
font-size:24pt;
text-shadow: 2px 4px 3px rgb(79 184 19 / 100%);
}